<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX8477922.jpg);">
      <div class="container">
        <h1>Super <strong>Drinks</strong> Shaker<strong></h1>
        <p>Create your own drink</p>
        <p>Add more to it!</p>
        <a class="btn btn-flat" href="/cocktails">Start now</a>
      </div>
    </div>

    <%= yield %>

    <%= javascript_include_tag "application" %> <!-- from app/assets/javascripts/application.js -->
    <%= javascript_pack_tag "application" %>    <!-- from app/javascript/packs/application.js -->
</body>
  </body>
</html>
